span {
  z-index: -1000;
  outline-style: none;
  pointer-events: none;
}

svg {
  outline-style: none;
}

.smallCheck {
  content: url("../svg/check14.svg");
}

.smallBin {
  content: url("../svg/bin14.svg");
  vertical-align: sub;
}

.smallPen {
  content: url("../svg/pencil16.svg");
  vertical-align: text-bottom;
}

.cross {
  content: url("../svg/cross.svg");
  vertical-align: -1px;
}

.maximize {
  content: url("../svg/maximize.svg");
  vertical-align: -1px;
}

.minimize {
  content: url("../svg/minimize.svg");
  vertical-align: -1px;
}

.star {
  content: url("../svg/Star\ 1.svg");
}

.moon {
  content: url("../svg/goal.svg");
  vertical-align: -3px;
}

.car {
  content: url("../svg/car.svg");
  vertical-align: -3px;
  margin-left: 10px;
}

.magnifier {
  content: url("../svg/magnifier.svg");
  vertical-align: -3px;
}

.speed {
  content: url("../svg/speed.svg");
  vertical-align: -2px;
}

.circle {
  content: url("../svg/circle.svg");
  vertical-align: 4.5px;
  margin-left: 7px;
}

.archive {
  content: url("../svg/archive.svg");
  vertical-align: -3px;
}

.archive-done {
  content: url("../svg/archive_done.svg");
  display: inline;
}

.return {
  content: url("../svg/return.svg");
}
